<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pms2.yushuting.mapper.SummaryMapper">
  <resultMap id="BaseResultMap" type="com.pms2.yushuting.model.Summary">
    <id column="summary_id" jdbcType="INTEGER" property="summaryId" />
    <result column="student_no" jdbcType="VARCHAR" property="studentNo" />
    <result column="student_class" jdbcType="VARCHAR" property="studentClass" />
    <result column="student_profession" jdbcType="VARCHAR" property="studentProfession" />
    <result column="student_apartment" jdbcType="VARCHAR" property="studentApartment" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="summary_datetime" jdbcType="TIMESTAMP" property="summaryDatetime" />
    <result column="is_read" jdbcType="INTEGER" property="isRead" />
    <result column="student_name" jdbcType="VARCHAR" property="studentName" />
  </resultMap>
</mapper>